<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <script src="../JavaScript/Main.js"></script>
  <body>
    <h1>Welcome to a test trial</h1>
<!--Highlighting a place on an address -->
<form method = "get">
<h1 class = "header" >
</h1><br/>
<iframe
  width="600"
  height="450"
  frameborder="0" style="border:0" id="map"
  src ="https://www.google.com/maps/embed/v1/place?key=AIzaSyAQw6VVsR22oM5DCilaaXDEk5VOQKnLq9w
  &q=Eiffel+Tower,Paris+France" allowfullscreen>
</iframe>
</form>

<input type="text" id="search" placeholder="search here"></br>
<button id="searchButton">Search</button><br/>

</body>
</html>
